.Pantry {
  width: 25vw;
  border: 5px solid black;
  margin-left: 1vw;
  margin-top: 1vh;
  margin-bottom: 5vh;
}

@media (prefers-color-scheme: dark) {
  .header {
    color: white;
  }
}

.items {
  list-style-type : none;
  text-align : left;
}